.service-item:last-child {
    border-bottom: 1px solid var(--gray);
    
  }
  .Service-bg-icons::before {
    margin-bottom: 90px;
       -webkit-text-fill-color: transparent;
       -webkit-text-stroke: 1px;
       opacity: .6;
       content: "01 ";
   }
   .active-img {
    opacity: 1;
    transition: opacity 0.1s ease-in, transform 0.2s ease-in-out;
    transform: scale(1.05);
  }